body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#juego-cuadrado {
    width: 50px;
    height: 50px;
    background-color: #044519; 
    position: absolute; 
    top: 50px;
    left: 50px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}